*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: lightgray;
}



/*!generics *************************************/
.decoration-under-app{
    height: 150px;
    background-color: #009688;
}
/* .bordo{
    border: 1px solid black;
} */
img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
ul{
    list-style-type: none;
}
/*! main app****************************/
/*! left side ***********************************/
.app-wrapper{
   
    width: 1300px;
    background-color: #fff;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}
/*user profile**************************/
.user-profile{
    min-height: 60px;
}
.username{
    min-width: 100px;
    align-self: center;
}
.promo .bi-bell-fill{
    font-size: 23px;
    position: relative;
    top: 5px;
    color: #8edafc;
}
.strike{
    scale: 0.9;
    text-decoration: underline;
}
/* promo ***********************************/
.promo{
    background-color: #8edafc;
    min-height: 60px;
}
/* contact list ***********************************/
.search-bar{
    min-height: 60px;
}
.contact-wrapper{
    max-height: 582px;
    overflow: auto;
}
.pic-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
}
.contact-wrapper li {
    background-color: #fff;
    border-bottom: 1px solid gray;
}
/*! right side *******************************/
.main-chat{
    height: 650px;
    overflow:auto;
    position: relative;
    background-image: url(../img/mine.jpg);
}
.main-chat p{
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}
.message-container{
    display: flex;
}
.message{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message.received{
    justify-content: flex-start;
}
.message.sent{
    justify-content: flex-end;
    width: 100%;
}
.message-container .message .sent{
    background-color: #d5f9ba;
}
.message-container .message .received{
    background-color: white;
}
.chat-files .bi{
    align-self: center;
    font-size: 25px;
    margin: 0  10px;
    color: gray;
}
.active{
    display: block;
}
/* write section *********************/
.user-message{
    max-height: 14%;
    background-color: rgb(238, 238, 238);
}
.user-message .text-bar{
    width: 85%;
}
.user-message .bi{
    align-self: center;
    font-size: 25px;
    margin: 0  10px;
    color: gray;
}