<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap daniele</title>
    <!--bootstrap-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="decoration-under-app"></div>

    <!--main app-->
    <div id="root">
        <div class="app-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-4 bordo p-0">  
                        <!--user-->
                        <div class="user-profile d-flex bordo justify-content-between p-1">
                            <div class="pic-container d-flex">
                                <img src="img/avatar_io.jpg" alt="">
                                <p class="username m-0">Nome Utente</p>
                            </div>
                            <div class="social-options text-secondary p-2 align-self-center fs-5">
                                <i class="bi bi-circle"></i>
                                <i class="bi bi-chat-left-fill"></i>
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                        </div>
                        <!--promo message-->
                        <div class="promo d-flex p-1">
                            <div class="pic-container text-center pt-2"> 
                                <i class="bi bi-bell-fill "></i>
                            </div>
                            <div class="p-2">
                                <p class="m-0">Ricevi notifiche per i tuoi messaggi</p>
                                <p class="m-0 strike">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <!--contact list-->
                        <div class="contact-list">
                            <div class="search-bar p-2 d-flex align-content-center">
                                <i class="bi bi-search fs-5"></i>
                                <input type="text" placeholder="cerca" class="form-control">
                            </div>
                            <div class="contact-wrapper">
                                <ul class="p-0">
                                    <li v-for='(contact , i) in contacts' class="contact d-flex" @click="setCurrentIndex(i)">
                                        <div class="pic-container">
                                            <img :src=`img/avatar${contact.avatar}.jpg` alt="">
                                        </div>
                                        <div class="contact-info">
                                            <p>{{contact.name}}</p>
                                            <p>info prova</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--sezione destra-->
                    <div class="col-8 bordo p-0">
                        <!--user info-->
                        <div class="open-chat user-profile bordo d-flex justify-content-between p-2">
                            <div  class="pic-container d-flex">
                                <img :src="`img/avatar${showMe.avatar}.jpg`" alt="">
                                <p class="username m-0">{{showMe.name}}</p>
                            </div>
                            <div class="chat-files d-flex text-light justify-content-between p-1">
                                <i class="bi bi-search"></i>
                                <i class="bi bi-file-earmark-diff-fill"></i>
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                        </div>
                        <!--chat-->
                        
                        <div class="main-chat p-3 ">
                            <div v-for="message in chatMessages" class="message-container">
                                <div :class="`message ${message.status}`">
                                    <p :class="message.status">{{message.text}}</p>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <!--scrivi messaggio-->
                        <div class="user-message d-flex justify-content-between p-3">
                            <p><i class="bi bi-emoji-expressionless"></i></p>
                            <div class="text-bar">
                                <input @keyup.enter="addMessage" v-model="newText" type="text" class="form-control">
                            </div>
                            <p><i class="bi bi-mic-fill"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--vue js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- il mio js-->
    <script src="script/data_milestone2.js"></script>
    <script defer src="script/script.js"></script>
</body>
</html>